<ion-view view-title="Account">
  <ion-content class="padding">
    <ion-list>
      <ion-toggle  ng-model="vm.enableFriends">
        Enable Friends
      </ion-toggle>
    </ion-list>
    <button class="button button-assertive button-block" ui-sref="login">Log Out</button>

    <div class="button-bar">
      <button class="button" ng-click="vm.selected = 1" ng-class="{'active': vm.selected === 1}">First</button>
      <button class="button" ng-click="vm.selected = 2" ng-class="{'active': vm.selected === 2}">First</button>
      <button class="button" ng-click="vm.selected = 3" ng-class="{'active': vm.selected === 3}">First</button>
      <button class="button" ng-click="vm.selected = 4" ng-class="{'active': vm.selected === 4}">First</button>
      <button class="button" ng-click="vm.selected = 5" ng-class="{'active': vm.selected === 5}">First</button>
    </div>
  </ion-content>
</ion-view>
